<html>
		<head></head>
		<body></body>
		<h1>Find the Ist non-repeating character from the Entered String</h1><br>
			<div align="Left">
			<form method="post" action="/findnonrepeatingchar">
			<input type="text" placeholder="Enter a String" id="demoText" name="demoTextName" required>
			<input type="Submit">
			<span id="character"><h2><%- character %></h2></span>
			</form>
			</div>
</html>